td{
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.row:nth-child(odd) .col:nth-child(even),.row:nth-child(even) .col:nth-child(odd){
    background-color: black;
}

.row-special .col{
    border: none;
}

.row-special, .col-special{
    background-color: orange;
    border: none!important;
}
.col { text-align: center
}
.col-special{
    text-align:center
}
